/** @Leandro Santana*/
html, body {
	font-family: Helvetica,Arial,sans-serif;
	height: 100%;	
	}			
/*customização da barra de navegação criando a classe transparente*/
nav.navbar-transparente {
	padding: 15px 0px;
	background: rgba(0, 66, 12, 0.9);
			}
.navbar-light .navbar-nav .nav-link {
	color:white;
	font-size: 0.6em;
		}		
.navbar-light .navbar-nav .nav-link:hover {
	color:#9bf0e1;	
	font-size: 0.6em;
		}
.navbar-light .navbar-toggler {
		color: rgba(255,255,255,0.5);
		border-color: rgba(255,255,255,0.5);
		margin-right: 10px;
		}

/* Estrutura de conteúdo ----------------------------*/		
p {
	line-height: 1.5em;
	text-align: justify;	
	}					

.capa 	{
		background-color:rgba(255, 255, 255, 0.54);
		padding: 2px;
		}


footer	{
		background: rgba(220,2018,212,0.8);
		padding: 50px 0px 20px 0px;
		position: relative;
		}
footer h4 {
		color: #919496;
		font-size: 0.8em;
		text-transform: uppercase;
		}
footer .navbar-nav a {
		color: white;
		font-size: 0.7em;
		}
footer .navbar-nav a:hover {
		color: black;
		text-decoration: none;
		}
footer ul{
		list-style: none;
		}
footer ul li {
		float: right;
		margin: 0 2px;
		}												



                 /* MIDIAS QUERY*/
/* Extra small devices (portrait phones, less than 576px)*/
				 @media (min-width: 300px) and (max-width: 767.98px) {
					h1 {font-size: 1em;}
					h2 {font-size: 1em;}					
					p{font-size: 0.8em;}								
					#fluxocapanema {width: 100%;}
					#organograma {width: 100%;}
					
					
								 }

/* Medium devices (tablets, 768px and up)*/
				@media (min-width: 768px) and (max-width: 991.98px) {
					h1 {font-size: 1em;}
					h2 {font-size: 1em;}					
					p{font-size: 0.8em;}
/*colocar a imagem fluxo capanema no centro da tela*/
					#fluxocapanema {width: 100%;}
					#organograma {width: 100%;}

					}

					
				
				
/* Large devices (desktops, 992px and up)*/
				
				@media (min-width: 992px) and (max-width: 1199.98px) {
					h1 {
						font-size: 2em;
					}
					h2 {
						font-size: 1.5em;
					}	
					
				}
				
/* Extra large devices (large desktops, 1200px and up)*/
				
				@media (min-width: 1200px) {
					h1 {
						font-size: 2em;		
					}
					h2 {
						font-size: 1.5em;
					}	
					
				}


/* Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
h1 {font-size: 1em;}

}

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
h1 {font-size: 1em;}

}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
h1 {font-size: 2em;}
}

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
h1 {font-size: 2em;}
}

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
h1 {font-size: 2em;}
}
*/
