/* inicio do css referente a página Sobre-------------------------------------------*/
html,
body {
	height: 100%;
	overflow-x: hidden;
}

body {
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}
	  

/* Estrutura de conteúdo ----------------------------*/
#homesobre {
	height: 100hv;
	width: 100%;
	background-color: #359830;
	padding: 5px;
	
}

/* Estilo do título da página Sobre */
/*deixar a fonte em bold e tamanho h1*/
#homesobre h1 {
	font-size: 2em;
	font-weight: bold;
	padding: 10px;
	margin: 0;
	color: white;
}

#homesobre p {
	opacity: 0.9;
	font-size: 1em;
	line-height: 1.2em;
	color: white;
}
.caixa1 {
	background-color: #f4f7f4;
	border-radius: 10px;
	justify-content: center;
	text-align: center;
	padding: 10px;
	h1 {
		font-size: 1.5em;
		font-weight: bold;
		padding: 10px;
		margin: 0;
		color: #0b7e03;	
	}
}
.caixa2 {
	background-color: rgb(142, 211, 121);
	justify-content: center;	
	padding: 50px;
	margin: 10px;
		h1 {
		font-size: 1.5em;
		font-weight: bold;
		padding: 10px;
		margin: 0;
		color: #0b7e03;	
	}
}
/* Estilo do conteúdo da página Sobre */


#apresentacao {
	/*bacground somente com a imagem fundo-textura.jpg*/
	background-color: #fefefe;
	background-image: url("imagens/fundo-textura.jpg");
	background-size: cover;
	opacity: 0.9;
	mix-blend-mode: multiply;
	transition: background .3s, border-radius .3s, opacity .3s;
	color: black;
	padding: 10px ;
	margin-bottom: 5px;
}
h2 {
	font-size: 1.6em;
	font-weight: bold;
	padding: 15px 0px;
}

/*paragrafos justificados*/
#home p {
	text-align: justify;
}

/*criar espaçamento entre paragrafos*/
#apresentacao p {
	opacity: 0.9;
	font-size: 1em;
	line-height: 1.5em;
}

#etica {
	background-color: #0440af;	
	padding: 10px ;
	color: white;
}

#etica p {
	color: white;
	line-height: 1.5em;
}

#creditos {
	background-color: #fefefe;
	background-image: url("../imagens/fundo-textura.jpg");
	background-size: cover;
	
	mix-blend-mode: multiply;
	transition: background .3s, border-radius .3s, opacity .3s;
	padding: 10px ;
	color: black;
	line-height: 1.2em;
}
.alinha {
	text-align: center;
	padding: 20px;
}

#referencia {
	background-color: #0440af;
	color: white;
	padding: 10px ;
}

#referencia p {
	color: white;
	line-height: 1.5em;
}

@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 1em;
	}

	h2 {
		font-size: 1em;
	}

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

}

/* Large devices (desktops, 992px and up)*/

@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

}

/* Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
	h1 {
		font-size: 2em;
	}

	h2 {
		font-size: 1.5em;
	}

}

/* fim do css referente a página Sobre-------------------------------------------*/